
  .kavovar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn-container {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: -136px;
    margin-top: -15px;
    background-color: #444444;
    background-size: 100% 100%;
    border-radius: 5px;
    background-color: transparent;
  }
  
  .btn_vyber {
    position: relative;
    cursor: pointer;
    padding: 3px 6px;
    margin: 5px;
    text-align: center;
    border-radius: 5px; 
    font-family: Arial;
    font-size: 12px;
    text-align: center; 
    width: 102px;
    height: 36px; 
    background-color: #9bb1b1;
    border: none;
    display: inline-block;
    top: 48%;
    

  }
  
  .btn_vyber:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
  }
  
  .btn_vyber:active {
    position: relative;
    top: 1px;
  }

  .hlaska {
    color: red;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .bg-info {
    position: absolute;
    margin-top: -290px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    padding: 3px 6px;
    width: 230px;
    height: 32px;
    background-color: #9bb1b1;
    border: none;
    display: inline-block;
    top: 48%;
    left: 26%;

  }
  
  .info-p {
    text-align: center;
    
  }
  
  .bg-zasobnik {

    position: absolute;
    margin-top: 190px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    padding: 3px 6px;
    width: 90px;
    height: 50px;
    background-color: #9bb1b1;
    border: none;
    display: inline-block;
    top: 40%;
    left: 374%;

  }

  .bg-zasobnik1 {

    position: absolute;
    margin-top: 190px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    padding: 3px 6px;
    width: 90px;
    height: 50px;
    background-color: #9bb1b1;
    border: none;
    display: inline-block;
    top: 40%;
    left: 6%;

  }
  

  /* @media (max-width: 1024px) {
    img {
      srcset="./img/kavovar-t.png";
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  @media (max-width: 500px) {
    img {
      srcset="./img/kavovar-t.png";
      width: 80%;
      height: auto;
      object-fit: cover;
      transform: scale(0.85);
    }
  
    .btn {
      position: absolute;
      top: 40%;
      left: 40%;
      transform: translate(-40%, -40%);
    }
  }
  
  @media (max-width: 375px) {
    img {
      srcset="./img/kavovar-m.png";
      width: 60%;
      height: auto;
      object-fit: cover;
      transform: scale(0.75);
    }
  
    .btn {
      position: absolute;
      top: 30%;
      left: 30%;
      transform: translate(-30%, -30%);
    }
  }
   */

  /* @media (max-width: 500px) {
    .container {
      width: 100%;
    }
  
    .btn-container {
      width: 100%;
    }
  
    .btn_vyber {
      width: 100%;
    }
  
    .bg-info {
      width: 100%;
    }
  
    .info-p {
      width: 100%;
    }
  
    .zasobnik {
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    .btn-container {
      position: relative;
      bottom: 0;
    }
  
    .bg-info {
      position: absolute;
      top: 0;
    }
  }
   */
  